{% extends "base_generic.html" %}

{% block content %}
    <h1>Author: {{ author.last_name }}, {{ author.first_name }}</h1>
    <a href="{{ author.get_absolute_url }}">{{ author.get_absolute_url }}</a>

    {% if author %}
        <ul>
            {% for author in book.author %}
            <li>
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.author }} <a href="{{ book.get_absolute_url }}">{{ book.id }}</a>)
            </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}

{% endblock %}
